*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 51, 60);
}

.container{

    width: 60%;
    max-width: 650px;
    /* border: 1px solid red; */
    
    

}

ul li{

    list-style: none;
    background-color: rgb(255, 255, 255);
    color: #111111;
    padding: 15px;
    border-radius: 12px;
    margin-top: 10px;
    
    
}

ul li label{

    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
  
}

ul li .content{

    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
  

}

#accordion, #accordion-1, #accordion-2, #accordion-3, #accordion-4{
    display: none;
}
.container input[type="radio"]:checked + .content{

    max-height: 400px;
    transition: 1100ms all ease-in-out;
}










